In [1]:
from study2nifti import studyreport

In [2]:
iamPath = '/Users/sid/Documents/Projects/IAM/Dataset/Sorted_DICOM'
outPath = '/Users/sid/Documents/Projects/IAM'
nthreads = 4

In [3]:
iam = studyreport(iamPath, outPath, nthreads)

Processing with 12 workers...

In [4]:
iam.getstudyinfo()

Analyzing Files: 100%|██████████| 297400/297400 [01:32<00:00, 3213.85files/s]

In [5]:
iam.dicomprops

,PatientID,AcquisitionDate,PatientSex,PatientAge,SoftwareVersion,ProtocolName,SequenceName
0,IAM_1049,20190417,F,069Y,syngo MR E11,AAHead_Scout_32ch-head-coil,*fl3d1_ns
1,IAM_1049,20190417,F,069Y,syngo MR E11,AAHead_Scout_32ch-head-coil,*fl3d1_ns
2,IAM_1049,20190417,F,069Y,syngo MR E11,AAHead_Scout_32ch-head-coil,*fl3d1_ns
3,IAM_1049,20190417,F,069Y,syngo MR E11,AAHead_Scout_32ch-head-coil,*fl3d1_ns
4,IAM_1049,20190417,F,069Y,syngo MR E11,AAHead_Scout_32ch-head-coil,*fl3d1_ns
...,...,...,...,...,...,...,...
297395,IAM_1032,20190220,F,070Y,syngo MR E11,t1_mprage_sag_p2_iso,*tfl3d1_16ns
297396,IAM_1032,20190220,F,070Y,syngo MR E11,t1_mprage_sag_p2_iso,*tfl3d1_16ns
297397,IAM_1032,20190220,F,070Y,syngo MR E11,t1_mprage_sag_p2_iso,*tfl3d1_16ns
297398,IAM_1032,20190220,F,070Y,syngo MR E11,t1_mprage_sag_p2_iso,*tfl3d1_16ns
297399,IAM_1032,20190220,F,070Y,syngo MR E11,t1_mprage_sag_p2_iso,*tfl3d1_16ns

In [6]:
table = iam.createstudytable()

Creating Dataframe: 100%|██████████| 108/108 [00:53<00:00,  2.02sub/s]

In [7]:
iam.writepdtable(table,'/Users/sid/Downloads/IAM.csv')